# Combining all the Datasets to make one final

## Importing Required Libraries

In [1]:
import pandas as pd

## Loading datasets

In [2]:
df_train = pd.read_csv('./Data/Corona_NLP_train.csv', encoding='latin1').drop(columns=['UserName', 'ScreenName', 'Location', 'TweetAt'])
df_test = pd.read_csv('./Data/Corona_NLP_test.csv', encoding='latin1').drop(columns=['UserName', 'ScreenName', 'Location', 'TweetAt'])

In [3]:
y_train = df_train['Sentiment']
y_test = df_test['Sentiment']

In [4]:
for i in range(len(y_train)):
    if y_train[i] == 'Extremely Negative':
        y_train[i] = 'Negative'
    elif y_train[i] == 'Extremely Positive':
        y_train[i] = 'Positive'
        
for i in range(len(y_test)):
    if y_test[i] == 'Extremely Negative':
        y_test[i] = 'Negative'
    elif y_test[i] == 'Extremely Positive':
        y_test[i] = 'Positive'
        
df_train['Sentiment'] = y_train
df_test['Sentiment'] = y_test

In [5]:
def combine_data(df1, df2):
    
    final = pd.DataFrame([])
    
    for i in df1:
        val = []
        
        for j in range(len(df1[i])):
            val.append(df1[i][j])
        for j in range(len(df2[i])):
            val.append(df2[i][j])
            
        final[i] = val
    
    return final

In [6]:
df = combine_data(df_train, df_test)
df

                                                    text Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
1      advice Talk to your neighbours family to excha...  Positive
2      Coronavirus Australia: Woolworths to give elde...  Positive
3      My food stock is not the only one which is emp...  Positive
4      Me, ready to go at supermarket during the #COV...  Negative
...                                                  ...       ...
44950  Meanwhile In A Supermarket in Israel -- People...  Positive
44951  Did you panic buy a lot of non-perishable item...  Negative
44952  Asst Prof of Economics @cconces was on @NBCPhi...   Neutral
44953  Gov need to do somethings instead of biar je r...  Negative
44954  I and @ForestandPaper members are committed to...  Positive

[44955 rows x 2 columns]

In [7]:
df1 = pd.read_csv('./Data/Twitter_data.csv', encoding='latin1', names=['text', 'Sentiment'])

In [8]:
df1.isnull().sum()

text         3
Sentiment    7
dtype: int64

In [9]:
df1 = df1.fillna(-2)
df1.isnull().sum()

text         0
Sentiment    0
dtype: int64

In [10]:
text = []
Sentiment = []

for i in range(len(df1['text'])):
    if df1['text'][i] != -2 and df1['Sentiment'][i] != -2:
        text.append(df1['text'][i])
        Sentiment.append(df1['Sentiment'][i])

df2 = pd.DataFrame([])
df2['text'] = text
df2['Sentiment'] = Sentiment
df1 = df2
df1

                                                     text  Sentiment
0       when modi promised âminimum government maxim...       -1.0
1       talk all the nonsense and continue all the dra...        0.0
2       what did just say vote for modi  welcome bjp t...        1.0
3       asking his supporters prefix chowkidar their n...        1.0
4       answer who among these the most powerful world...        1.0
...                                                   ...        ...
162964  why these 456 crores paid neerav modi not reco...       -1.0
162965  dear rss terrorist payal gawar what about modi...       -1.0
162966  did you cover her interaction forum where she ...        0.0
162967  there big project came into india modi dream p...        0.0
162968  have you ever listen about like gurukul where ...        1.0

[162969 rows x 2 columns]

In [11]:
y = []
for i in range(len(df1['Sentiment'])):
    if df1['Sentiment'][i] == -1:
        y.append('Negative')
    elif df1['Sentiment'][i] == 0:
        y.append('Neutral')
    elif df1['Sentiment'][i] == 1:
        y.append('Positive')
        
df1['Sentiment'] = y
df1

                                                     text Sentiment
0       when modi promised âminimum government maxim...  Negative
1       talk all the nonsense and continue all the dra...   Neutral
2       what did just say vote for modi  welcome bjp t...  Positive
3       asking his supporters prefix chowkidar their n...  Positive
4       answer who among these the most powerful world...  Positive
...                                                   ...       ...
162964  why these 456 crores paid neerav modi not reco...  Negative
162965  dear rss terrorist payal gawar what about modi...  Negative
162966  did you cover her interaction forum where she ...   Neutral
162967  there big project came into india modi dream p...   Neutral
162968  have you ever listen about like gurukul where ...  Positive

[162969 rows x 2 columns]

In [12]:
df = combine_data(df,df1)
df

                                                     text Sentiment
0       @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
1       advice Talk to your neighbours family to excha...  Positive
2       Coronavirus Australia: Woolworths to give elde...  Positive
3       My food stock is not the only one which is emp...  Positive
4       Me, ready to go at supermarket during the #COV...  Negative
...                                                   ...       ...
207919  why these 456 crores paid neerav modi not reco...  Negative
207920  dear rss terrorist payal gawar what about modi...  Negative
207921  did you cover her interaction forum where she ...   Neutral
207922  there big project came into india modi dream p...   Neutral
207923  have you ever listen about like gurukul where ...  Positive

[207924 rows x 2 columns]

In [13]:
df1 = pd.read_csv('./Data/1.6 Mill Tweet data.csv', encoding='latin1', names=['Sentiment', 'id', 'date', 'flag', 'user', 'text'])
df1.drop(columns = ['id', 'date', 'flag', 'user'], inplace=True)
df1

         Sentiment                                               text
0                0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1                0  is upset that he can't update his Facebook by ...
2                0  @Kenichan I dived many times for the ball. Man...
3                0    my whole body feels itchy and like its on fire
4                0  @nationwideclass no, it's not behaving at all....
...            ...                                                ...
1599995          4  Just woke up. Having no school is the best fee...
1599996          4  TheWDB.com - Very cool to hear old Walt interv...
1599997          4  Are you ready for your MoJo Makeover? Ask me f...
1599998          4  Happy 38th Birthday to my boo of alll time!!! ...
1599999          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [14]:
y = []
for i in range(len(df1['Sentiment'])):
    if df1['Sentiment'][i] == 0:
        y.append('Negative')
    elif df1['Sentiment'][i] == 4:
        y.append('Positive')
df1['Sentiment'] = y
df1

        Sentiment                                               text
0        Negative  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1        Negative  is upset that he can't update his Facebook by ...
2        Negative  @Kenichan I dived many times for the ball. Man...
3        Negative    my whole body feels itchy and like its on fire
4        Negative  @nationwideclass no, it's not behaving at all....
...           ...                                                ...
1599995  Positive  Just woke up. Having no school is the best fee...
1599996  Positive  TheWDB.com - Very cool to hear old Walt interv...
1599997  Positive  Are you ready for your MoJo Makeover? Ask me f...
1599998  Positive  Happy 38th Birthday to my boo of alll time!!! ...
1599999  Positive  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [15]:
df = combine_data(df,df1)
df

                                                      text Sentiment
0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
1        advice Talk to your neighbours family to excha...  Positive
2        Coronavirus Australia: Woolworths to give elde...  Positive
3        My food stock is not the only one which is emp...  Positive
4        Me, ready to go at supermarket during the #COV...  Negative
...                                                    ...       ...
1807919  Just woke up. Having no school is the best fee...  Positive
1807920  TheWDB.com - Very cool to hear old Walt interv...  Positive
1807921  Are you ready for your MoJo Makeover? Ask me f...  Positive
1807922  Happy 38th Birthday to my boo of alll time!!! ...  Positive
1807923  happy #charitytuesday @theNSPCC @SparksCharity...  Positive

[1807924 rows x 2 columns]

In [16]:
df1 = pd.read_csv('./Data/Reddit_data.csv', encoding='latin1', names=['text', 'Sentiment'])
df1

                                                    text  Sentiment
0       family mormon have never tried explain them t...          1
1      buddhism has very much lot compatible with chr...          1
2      seriously don say thing first all they won get...         -1
3      what you have learned yours and only yours wha...          0
4      for your own benefit you may want read living ...          1
...                                                  ...        ...
37244                                              jesus          0
37245  kya bhai pure saal chutiya banaya modi aur jab...          1
37246              downvote karna tha par upvote hogaya           0
37247                                         haha nice           1
37248           facebook itself now working bjpâ cell           0

[37249 rows x 2 columns]

In [17]:
df1.isnull().sum()

text         100
Sentiment      0
dtype: int64

In [18]:
df1 = df1.fillna(-2)
df1.isnull().sum()

text         0
Sentiment    0
dtype: int64

In [19]:
text = []
Sentiment = []

for i in range(len(df1['text'])):
    if df1['text'][i] != -2 and df1['Sentiment'][i] != -2:
        text.append(df1['text'][i])
        Sentiment.append(df1['Sentiment'][i])

df2 = pd.DataFrame([])
df2['text'] = text
df2['Sentiment'] = Sentiment
df1 = df2

In [20]:
y = []

for i in range(len(df1['Sentiment'])):
    if df1['Sentiment'][i] == -1:
        y.append('Negative')
    elif df1['Sentiment'][i] == 0:
        y.append('Neutral')
    elif df1['Sentiment'][i] == 1:
        y.append('Positive')
        
df1['Sentiment'] = y
df1

                                                    text Sentiment
0       family mormon have never tried explain them t...  Positive
1      buddhism has very much lot compatible with chr...  Positive
2      seriously don say thing first all they won get...  Negative
3      what you have learned yours and only yours wha...   Neutral
4      for your own benefit you may want read living ...  Positive
...                                                  ...       ...
37144                                              jesus   Neutral
37145  kya bhai pure saal chutiya banaya modi aur jab...  Positive
37146              downvote karna tha par upvote hogaya    Neutral
37147                                         haha nice   Positive
37148           facebook itself now working bjpâ cell    Neutral

[37149 rows x 2 columns]

In [21]:
df = combine_data(df,df1)
df

                                                      text Sentiment
0        @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
1        advice Talk to your neighbours family to excha...  Positive
2        Coronavirus Australia: Woolworths to give elde...  Positive
3        My food stock is not the only one which is emp...  Positive
4        Me, ready to go at supermarket during the #COV...  Negative
...                                                    ...       ...
1845068                                              jesus   Neutral
1845069  kya bhai pure saal chutiya banaya modi aur jab...  Positive
1845070              downvote karna tha par upvote hogaya    Neutral
1845071                                         haha nice   Positive
1845072           facebook itself now working bjpâ cell    Neutral

[1845073 rows x 2 columns]

In [22]:
df.to_csv('All_data_combined.csv')